<!-- upload-txt.component.html -->
<div class="upload-container">
  <h2>Subir archivo TXT</h2>

  <input type="file" accept=".txt" (change)="onFileSelected($event)" />

  <p *ngIf="fileName">Archivo seleccionado: <strong>{{ fileName }}</strong></p>

  <button mat-raised-button color="primary" (click)="uploadFile()" [disabled]="!selectedFile">
    Subir archivo
  </button>
</div>

<br>
<h1>Clientes Cargados</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- FirstName Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
  </ng-container>

  <!-- LastName Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>Apellido</th>
    <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
  </ng-container>

  <!-- IdentificationNumber Column -->
  <ng-container matColumnDef="identificationNumber">
    <th mat-header-cell *matHeaderCellDef>Identificación</th>
    <td mat-cell *matCellDef="let row"> {{row.identificationNumber}} </td>
  </ng-container>

  <!-- Age Column -->
  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Edad</th>
    <td mat-cell *matCellDef="let row"> {{row.age}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Correo electrónico</th>
    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
  </ng-container>

  <!-- createdDate Column -->
  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef>Número de cuenta</th>
    <td mat-cell *matCellDef="let row"> {{row.createdDate}} </td>
  </ng-container>

  <!-- accountNumber Column -->
  <ng-container matColumnDef="accountNumber">
    <th mat-header-cell *matHeaderCellDef>Número de cuenta</th>
    <td mat-cell *matCellDef="let row"> {{row.accountNumber}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
</table>



